<%= render 'shared/page_title', title: "showing all gifts"%>
<hr />
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'recipe', obj: @recipes %>

<div align="center">
  <%= will_paginate %>
</div>